@model NigerianLawSchoolStudentApp.DTO.StudentViewModel

@{
	ViewData["Title"] = "Student Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("StudentDetail", "Student"))
{
	<div class="">

		<h4 class="modal-title"> Student Details</h4>

	</div>

	<div class="form-horizontal">
		<div class="form-group">
			<label asp-for="FirstName" class="col-lg-3 col-sm-3 control-label"></label>
			<div class="col-lg-6">
				<input asp-for="FirstName" class="form-control" readonly />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="LastName" class="col-lg-3 col-sm-3 control-label"></label>
			<div class="col-lg-6">
				<input asp-for="LastName" class="form-control" readonly />
			</div>
			<div class="form-group">
				<label asp-for="GradYear" class="col-lg-3 col-sm-3 control-label"></label>
				<div class="col-lg-6">
					<input asp-for="GradYear" class="form-control" readonly />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="SchoolAttended" class="col-lg-3 col-sm-3 control-label"></label>
				<div class="col-lg-6">
					<input asp-for="SchoolAttended" class="form-control" readonly />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Sex" class="col-lg-3 col-sm-3 control-label"></label>
			<div class="col-lg-6">
				<input asp-for="Sex" class="form-control" readonly />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="EnrollmentNo" class="col-lg-3 col-sm-3 control-label"></label>
			<div class="col-lg-6">
				<input asp-for="EnrollmentNo" class="form-control" readonly />
			</div>
		</div>
	</div>
	<a class="btn btn-success" type="button" asp-action="Index" asp-controller="Student"> Go Back </a>
}